<div class="login-modal">
    <div class="login-form">
        <a href="javascript: LoginClose();"><img class="login-close" src="http://cdn.robby570.tw/img/close.png" width="40" /></a>
        <div class="login-row">
            <h2>系統登入</h2>
        </div>
        <div class="login-row">
            <input id="txtUserId" type="text" placeholder="帳號"  />
        </div>
        <div class="login-row">
            <input id="txtPWD" type="password" placeholder="密碼"  />
        </div>
        <div class="login-row">
            <button id="btnLogin" type="button" tabindex="3" onclick="LoginIn();">登入</button>
        </div>
    </div>
</div>