.search
    margin: 20px

.chosen-select 
    width: 120px
    outline: none

.chosen-container 
    margin: 0 5px !important

    a 
        color: #888888 !important
        border: 1px solid #CCCCCC !important
        padding-top: 5px !important
        height: 35px !important
        border-radius: 3px !important
        background: #FFFFFF !important
        box-shadow: none !important

        &:hover 
            border: 1px solid #BBBBBB !important

    li:hover,
    .highlighted 
        background: #4A8BEE !important

/********/

#photo-admin 
    .photo-slider 
        display: none
        padding-left: 5px

.photo-box 
    position: relative

    img 
        width: calc( 96% / 3 - 15px)
        float: left
        margin: 4px
        margin-left: 8px
        cursor: pointer
        transition: all .15s
        opacity: .9
        border: 4px solid #EEE
        border-radius: 4px

        &:hover 
            opacity: 1
            border: 4px solid #1ABC9C

.photo-form 
    position: fixed
    left: 20%
    top: 12%
    background: #383F45
    border: 10px solid #383F45
    border-radius: 3px
    width: 800px
    height: 500px
    display: none

    .photo-title 
        height: 40px
        padding: 0 10px
        margin: 0

        label 
            font-size: 22px
            float: left
            color: #FFF

        .photo-control 
            float: right
            color: #EEE
            background: #222
            height: 30px
            width: 30px
            text-align: center
            font-size: 18px
            font-weight: 700
            border-radius: 100%
            cursor: pointer
            transition: .5s all
            padding-top: 2px
            
            &:hover 
                color: #FFF
                transform: rotate(180deg)

    .photo-main 
        height: 460px

        img 
            width: 100%
            height: 100%
