#building .row {
    margin: 30px 0;
}

@media(max-width:1200px) {
    #building .row {
        margin: 0;
    }
}

@media(max-width:1200px) {
    #building .row .col {
        margin-bottom: 20px;
    }
}

#building .row .col .building-title {
    display: block;
    margin-top: 60px;
    color: #444;
    font-size: 26px;
    font-weight: bold;
}

@media(max-width:1200px) {
    #building .row .col .building-title {
        margin-top: 0px;
    }
}

#building .row .col .building-detail {
    text-align: left;
    margin-top: 30px;
    color: #444;
    font-size: 18px;
}

@media(max-width:1200px) {
    #building .row .col .building-detail {
        margin: 0 auto 20px;
        width: 70%;
    }
}

@media(max-width:768px) {
    #building .row .col .building-detail {
        display: none;
    }
}

#building .row .col .building-img {
    position: relative;
    height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
}

@media(max-width:768px) {
    #building .row .col .building-img {
        height: 300px;
    }
}

#building .row .col .building-img[data-src="b1"] {
    background-image: url('http://cdn.robby570.tw/img/building/弘業樓.jpg');
}

#building .row .col .building-img[data-src="b2"] {
    background-image: url('http://cdn.robby570.tw/img/building/昌明樓.jpg');
}

#building .row .col .building-img[data-src="b3"] {
    background-image: url('http://cdn.robby570.tw/img/building/翰英樓.jpg');
}

#building .row .col .building-img[data-src="b4"] {
    background-image: url('http://cdn.robby570.tw/img/building/奇秀樓.jpg');
}

#building .row .col .building-img[data-src="b5"] {
    background-image: url('http://cdn.robby570.tw/img/building/資訊館.jpg');
}

#building .row .col .building-img[data-src="b6"] {
    background-image: url('http://cdn.robby570.tw/img/building/中正大樓.jpg');
}

#building .row .col .building-img[data-src="b7"] {
    background-image: url('http://cdn.robby570.tw/img/building/中商大樓.jpg');
}

#building .row .col .building-img[data-src="b8"] {
    background-image: url('http://cdn.robby570.tw/img/building/行政大樓.jpg');
}

#building .row .col .building-img[data-src="b9"] {
    background-image: url('http://cdn.robby570.tw/img/building/學生活動中心.jpg');
}

#building .row .col .building-img .building-panel {
    position: absolute;
    height: 0%;
    width: 100%;
    background: rgba(255, 255, 255, .6);
    text-align: center;
    overflow: hidden;
    transition: all .4s;
}

.building-panel-toggle {
    height: 80% !important;
}

@media(max-width:768px) {
    .building-panel-toggle {
        height: 85% !important;
    }
}

#building .row .col .building-img .building-panel h2 {
    position: relative;
    display: block;
    margin-top: 8%;
    margin-bottom: 0;
    font-weight: normal;
}

@media(max-width:768px) {
    #building .row .col .building-img .building-panel h2 {
        font-size: 20px;
    }
}

#building .row .col .building-img .building-panel span {
    font-size: 20px;
}

#building .row .col .building-img .building-panel p {
    margin: 5px auto;
    width: 70%;
    letter-spacing: 1px;
    text-align: justify;
    font-size: 18px;
    line-height: 24px;
}

@media(max-width:768px) {
    #building .row .col .building-img .building-panel p {
        font-size: 14px;
    }
}