#traffic .row .col #ifmSchool {
    height: 70vh;
    width: 100%;
}

#traffic .row .col .panel {
    margin-bottom: 40px;
}

@media(max-width:768px) {
    #traffic .row .col .panel {
        margin-bottom: 20px;
    }
}

#traffic .row .col .panel .panel-heading {
    cursor: pointer;
}

#traffic .row .col .panel .panel-heading h4 {
    margin: 5px 0;
}

#traffic .row .col .panel .panel-body {
    font-size: 16px;
}

#traffic .row .col .panel .panel-body ul {
    margin: 10px 20px;
    padding: 0;
}