@import url(http://fonts.googleapis.com/earlyaccess/notosanstc.css);
* {
    font-family: 'Noto Sans TC', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.wrapper {
    margin: 0;
    padding: 0;
}


/* navbar */

.navbar {
    width: 220px;
    position: fixed;
    background: #3D454D;
}

.navbar .title {
    height: 50px;
}

.navbar .title .control {
    position: absolute;
    top: 16px;
    left: 22px;
}

.navbar .title .control:hover {
    cursor: pointer;
}

.navbar .title .control .line {
    height: 3px;
    background: #B1B3B6;
    width: 16px;
    margin: 2px 0;
    border-radius: 2px;
    -webkit-transition: background .2s;
}

.navbar .nav {
    margin: 0;
    padding: 0;
    height: 100vh;
}

.navbar .nav .nav-item {
    height: 30px;
    padding: 8px 24px;
    color: #B1B3B6;
    font-size: 14px;
    text-decoration: none;
    display: block;
}

.navbar .nav .nav-item:hover {
    background: #383F45;
}

.navbar .nav .selected {
    background: #383F45;
    color: #FFF;
}

.navbar .nav .fa {
    width: 30px;
}


/* container */

.container {
    position: absolute;
    left: 220px;
    width: calc(100% - 220px);
    height: 100%;
}

.container .head {
    height: 50px;
    background: #FAFAFA;
    border-bottom: 1.5px solid #DADADA;
}

.container .head .control {
    position: absolute;
    margin: 2px 0 0 5px;
    padding: 10px;
    float: left;
    display: none;
    transition: all .2s;
}

.container .head .control:hover {
    border-radius: 100%;
    cursor: pointer;
    background: #EEEEEE;
}

.container .head .control .line {
    height: 3px;
    background: #666666;
    width: 16px;
    margin: 2px 0;
    border-radius: 2px;
    -webkit-transition: background .2s;
}

.container .head .title {
    float: left;
    margin: 8px 0 0 50px;
    padding: 0;
    float: left;
    color: #666666;
    text-decoration: none;
    font-size: 18px;
    cursor: default;
}

.container .head .logo {
    float: left;
    padding-top: 2px;
    margin-left: calc(100% / 4);
}

.container .head label {
    color: #666666;
}

.container .head .logo img {
    float: left;
    cursor: pointer;
    height: 45px;
}

.container .head .logo img:hover {
    /*-ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);*/
}

.container .head .info {
    padding: 3px 20px 0 20px;
    float: right;
}

.container .head .info .info-item {
    margin: 5px;
}

.content {
    width: 100%;
}

.footer {
    width: 100%;
    display: table;
    margin: 50px 0;
    text-align: center;
}

.footer .room-line {
    color: #666;
    font-size: 10px;
}

.footer .footer-title {
    color: #888;
    margin-top: 10px;
}

.footer .room-list {
    margin: 0 0 5px 0;
    padding: 0;
}

.footer .room-list a {
    margin: 0 4px;
    color: #888;
    text-decoration: none;
}

.footer .room-list a:hover {
    color: #666;
}

.slide {
    margin: 20px;
}

.slide .slide-nav {
    height: 30px;
    margin: auto;
    padding: 0;
    list-style-type: none;
}

.slide .slide-nav li {
    float: left;
}

.slide .slide-nav li a {
    display: block;
    padding: 2px;
    margin: 0;
    height: 30px;
    text-decoration: none;
    color: #AAAAAA;
    transition: all .2s;
}

.slide .slide-nav .selected {
    color: #666666;
    border-bottom: 2px solid #4A8BEE;
    margin-top: 2px;
}

.slide .slide-nav li a:hover {
    color: #666666;
    margin-top: 2px;
}

.row {
    margin: 10px 20px;
}

.btn {
    outline: none;
    cursor: pointer;
    color: #FFF;
    border-radius: 3px;
    border: 0;
    box-shadow: none;
    transition: all .15s;
}

.btn-sm {
    height: 33px;
    width: 60px;
}

.btn-lg {
    height: 33px;
    width: 100px;
}

.btn-green {
    background: #1ABC9C;
}

.btn-green:hover {
    background: #17A88B;
}

.btn-green:active {
    background: #159A7F;
    box-shadow: 0 0 10px #289354 inset;
}

.btn-dark {
    background: #3D454D;
}

.btn-dark:hover {
    background: #383F45;
}

.btn-dark:active {
    background: #32383E;
}

.btn-disabled,
.btn-disabled:hover,
.btn-disabled:active {
    color: #666;
    background: #888;
    cursor: not-allowed;
}

.text {
    height: 20px;
    width: 150px;
    padding: 6px 10px;
    margin: 4px 10px;
    color: #666666;
    border: 1px solid #CCCCCC;
    border-radius: 3px;
    outline: none;
}

.text:focus {
    box-shadow: 0px 0px 8px 3px #CCCCCC;
    border: 1px solid #BBBBBB;
}

.text-lg {
    width: 200px;
}

.text-sm {
    width: 120px;
}

.text-rdonly {
    cursor: not-allowed;
    background: #EEEEEE;
}

.text-rdonly:focus {
    box-shadow: none;
    border: 1px solid #CCCCCC;
}

.clear {
    height: 1px;
    background: #DDDDDD;
    width: 100%;
    margin: 5px 0;
}

.gotop {
    width: 50px;
    height: 50px;
    position: fixed;
    right: 20px;
    bottom: 20px;
    cursor: pointer;
    display: none;
    background: url('http://cdn.robby570.tw/img/gotop.png') no-repeat;
}

.login-modal {
    width: 100vw;
    height: 100vh;
    position: fixed;
    background: rgba(100, 100, 100, .9);
    z-index: 1;
    display: none;
}

.login-modal .login-form {
    position: fixed;
    top: 15%;
    left: 40%;
    height: 300px;
    width: 400px;
    background: #E3E2E0;
    z-index: 2;
    animation: move;
    animation-duration: .4s;
}

@keyframes move {
    from {
        top: 0%;
        left: 40%;
    }
    to {
        top: 15%;
        left: 40%;
    }
}

.login-modal .login-form h2 {
    color: #1ABC9C;
    text-align: center;
}

.login-modal .login-form .login-row {
    text-align: center;
    margin: 30px 0;
}

.login-modal .login-form input {
    height: 28px;
    width: 240px;
    padding: 4px 8px;
    font-size: 18px;
}

.login-modal .login-form button {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background: #1ABC9C;
    color: #FFF;
    border: none;
    border-bottom: 5px solid #17A88B;
    outline: none;
    cursor: pointer;
    transition: all .2s;
    font-size: 20px;
}

.login-modal .login-form button:hover {
    background: #17A88B;
}

.login-modal .login-form button:focus,
.login-modal .login-form button:active {
    background: #17A88B;
    cursor: wait;
}

.login-modal .login-form .login-close {
    position: absolute;
    right: 10px;
    top: 10px;
    transition: all .2s ease-out;
}

.login-modal .login-form .login-close:hover {
    -ms-transform: rotate(130deg);
    -webkit-transform: rotate(130deg);
    transform: rotate(130deg);
}