<!--<div class="search">
    <select id="ddlPlace" class="chosen-select" data-placeholder="地點">
        <option value=""></option>
        <option>弘業樓</option>
        <option>昌明樓</option>
        <option>翰英樓</option>
        <option>奇秀樓</option>
        <option>中正大樓</option>
        <option>行政大樓</option>
    </select>

    <select id="ddlUnit" class="chosen-select" data-placeholder="單位">
        <option value=""></option>
        <option>註冊組</option>
        <option>學務處</option>
    </select>
</div>-->
<div class="slide">
    <ul id="slide-admin" class="slide-nav">
        <li><a class="selected" href="#" data-id="photo-slider-build1">中正大樓</a></li>
        <li><a href="#" data-id="photo-slider-build2">行政大樓</a></li>
        <li><a href="#" data-id="photo-slider-build3">中商大樓</a></li>
    </ul>
</div>
<div class="clear"></div>